<% var question = data.questions.multi_choose %>

<section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">三、<%= question.title %></h3></div>
    <div class="panel-body">
        <ol>
            <% for(var i = 0;i < question.detail.length; i++) { %>
            <li>
                <p><%= question.detail[i].topic %></p>
                <% for(var choice in question.detail[i].choices) { %>
                <label><input type="checkbox" name="multi_choose<%= i %>" value="<%= choice %>">
                    （<%= choice %>）<%= question.detail[i].choices[choice] %></label><br>
                <% } %>
            </li>
            <% } %>
        </ol>
    </div>
</section>