<section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">三、多选题</h3></div>
    <div class="panel-body">
        <ol>
            <% for(var i = 0;i < allTopic.multi_choose.length; i++) { %>
            <li>
                <p><%= allTopic.multi_choose[i].question %></p>
                <% for(var choice in allTopic.multi_choose[i].options) { %>
                <label><input type="checkbox" name="multi_choose<%= i %>" value="<%= choice %>">
                    （<%= choice %>）<%= allTopic.multi_choose[i].options[choice] %></label><br>
                <% } %>
            </li>
            <% } %>
        </ol>
    </div>
</section>