<section class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">二、单选题</h3></div>
    <div class="panel-body">
        <ol>
            <% for(var i = 0;i < allTopic.single_choose.length; i++) { %>
            <li>
                <p><%= allTopic.single_choose[i].question %></p>
                <% var x = 0 %>
                <% for(var choice in allTopic.single_choose[i].options) { %>
                <label><input type="radio" name="single_choose<%= i %>" value="<%= choice %>"<% if(allTopic.single_choose[i].input){ %>

                            <%  } %>>
                    （<%= choice %>）<%= allTopic.single_choose[i].options[choice] %></label><br>
                <% x++ %>
                <% } %>
            </li>
            <% } %>
        </ol>
    </div>
</section>